<div class="panel panel-primary">
	<div class="panel-heading"></div>
	<div class="panel-body">
		<form class="form-horizontal" id="usuario_form" >
			<input type="hidden" id = "id" name = "id"/>

			<div class="row form-row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<label for="senha_atual">*Senha:</label>
					<input type="password" id="senha_atual" name="senha_atual" class="form-control" />
				</div>
			</div>

			<div class="row form-row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<label for="senha">*Nova Senha:</label>
					<input type="password" id="senha" name="senha" class="form-control" />
				</div>
			</div>

			<div class="row form-row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<label for="senha">*Nova Senha:</label>
					<input type="password" id="senha" name="senha" class="form-control" />
				</div>
			</div>

			<div class="row form-row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<label for="confirmacao_senha">*Confirmacão de Senha:</label>
					<input type="password" id="confirmacao_senha" name="confirmacao_senha" class="form-control" />
				</div>
			</div>

			<div class="form-group row form-row" >
				<div class="col-md-offset-1 col-md-11" >
					<br /><div id="msg" class="text-danger" ></div>
				</div>
			</div>

			<div class=" row form-row" >
				<div class="panel-footer">
					<button class="btn btn-warning hide" id="alterar_senha">Alterar Senha</button>
					<button class="btn btn-default hide" id="cancelar">Cancelar</button>
				</div>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript" src="js/usuario/usuario.form.cfg.js"></script>