

@media(min-width:360px){
	#wrapper {
		width: 100%;
		background-color: #fff;
	}

	.titulo_menu {
		text-align: center;
		font-weight: bold;
		margin-bottom: 60px;
	}

	#menu{
		padding: 20px;
	}

	button{
		margin-left: 100px;
	}

	.botao_menu{
		margin-bottom: 50px;
	}
}