*{
	margin: 0;
	padding: 0;
}

.botoes_edicao_usuario{
	padding-top: 50px;
}

body {
	font-family: "sans-serif", "Arial", "Time news roman";
	background-color: #ffffff;
}

header{
	padding: 0px !important;
	margin-bottom: 10px;
}

input[type="text"], input[type="password"], input[type="number"], textarea, select, .input-group-addon, .select2-container{
	margin-bottom: 1em;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

div.error
{
	color: #a94442 !important;
}

div.text-danger
{
	color: #a94442 !important;
}

.breadcrumb {
    padding: 1em 1em 1em 1em;
    list-style: none;
    border: 1px solid #e5e5e5;
    border-radius: .25rem;
	background-color: #ffffff;
}

.modal-title
{
	text-align: center;
}

.titulo_editar_perfil{
	text-align: center;
	padding-top: 2em;
	margin-bottom: 2em;
}

.panel{
	padding: 2em 2em 0em 2em !important;
}

#menu_inicial a{
	margin-top: 40px;
	height: 50px;
	width: 300px;
	padding-top: 10px;
	font-size : 16px;
	color : #fff;
	background-color: #468acf; 
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.glyphicon
{
	float: left;
}

a.navbar-brand {
	color: #fff !important;
}

#areaLista, #areaForm{
	margin: auto;
}

.panel {
	margin: auto;
	padding: 10px 15px 10px 15px;
}

#toolbar{
	margin: 10px;
	padding: 10px 15px 10px 15px;
}

table.th {
	text-align: center;
}

div.conteudo { max-width: 1200px }

.ui-autocomplete { z-index:1050 !important; }

.tooltip { z-index:2000; }

ul#menu_unidades li{
	margin: 5px !important;
}
@media only screen and (min-width: 200px) and (max-width: 319px){
	#menu_inicial a{
		width: 170px;
		font-size: 10px;
		padding-top: 10px;
	}

	button.navbar-toggle{
		visibility: none;
	}
}

@media only screen and (min-width: 320px) and (max-width: 359px){
	#menu_inicial a{
		width: 200px;
		font-size: 12px;
		padding-top: 8px;
	}
}

@media only screen and (min-width: 360px) and (max-width: 374px){
	#menu_inicial a{
		width: 200px;
		font-size: 14px;
		padding-top: 10px;
	}
}

@media only screen and (min-width: 375px) and (max-width: 411px){
	#menu_inicial a{
		width: 225px;
		font-size: 16px;
		padding-top: 15px;
	}
}

@media only screen and (min-width: 412px) and (max-width: 459px){
	#menu_inicial a{
		margin: 40px auto;
		width: 230px;
		font-size: 14px;
	}
}

@media only screen and (min-width: 460px) and (max-width: 640px){
	#menu_inicial a{
		width: 230px;
		font-size: 16px;
		padding-top: 10px;
	}
}

@media only screen and (min-width: 641px) and (max-width: 700px){
	#menu_inicial a{
		width: 250px;
	}
}

@media only screen and (min-width: 700px) and (max-width: 768px){
	#menu_inicial a{
		width: 300px.
	}
}