
body{
	background-color: #fff;
	padding: 0px;
	margin:  0px;
}

.navbar{
	background-color: #423f3f;
	margin: 0px;
	margin-bottom: 1em;
}

span.icon-bar {
	color: #fff;
	background-color: #fff;
}

.navbar-toggle{
	float: left;
}	

.navbar a{
	color: #fff;
}

#footer {
	color: #6d6d6d;
	text-align: center;
	float: bottom;
}

#footer p {
	margin-bottom: 0;
}

#footer a {
	color: inherit;
}


.wrape
{
	width: 100%;
	height: 100%;
}

#menu .glyphicon{
	margin-right: 20%;
	float: left;
}

#menu li {
	margin-bottom: 5%;
}


@media (min-width: 360px){
	#menu li {
		text-align: center;
		font-size: 26px;
		font-weight: bold;
	}
		

	section #footer{
		display: none;
	}

	#page-wrape{
		display: none;
	}

	#topo{
		bottom: 100%;
	}
}

/*@media(min-width: 320px){
	#menu{
		width: 320px;
		height: 568px;
		background-color: #d9d7d7;
	}
	
	.navbar{
		background-color: #423f3f;
		margin: 0px;
	}
}
*/
