*{
	margin: 0;
	padding: 0;
}

body {
	font-family: "sans-serif", "Arial", "Time news roman";
	background-color: #f7f7f7;
}

header{
	padding: 0px !important;
	margin-bottom: 10px;
}

#menu_inicial {
	padding-left: 30%;	
}

#menu_inicial a{
	margin-top: 40px;
	height: 50px;
	width: 500px;
	padding-top: 10px;
	font-size : 18px;
}

a.navbar-brand {
	color: #fff !important;
}

i .glyphicon{
	margin: 0 5px auto;
}

#areaLista, #areaForm{
	margin: auto;	
}

.panel {
	margin: auto;
	padding: 10px 15px 10px 15px;
}

#toolbar{
	margin: 10px;
	padding: 10px 15px 10px 15px;
}

table {
	margin: auto;
	width: auto;
}

.ui-autocomplete { z-index:2000; }

@media only screen and (min-width: 200px) and (max-width: 319px){
	#menu_inicial a{
		width: 150px;
		height: 30px;
		font-size: 10px;
		padding-top: 10px;
	}

	button.navbar-toggle{
		visibility: none;
	}

	#menu_inicial {
		padding-left: 8%;
	}
}

@media only screen and (min-width: 320px) and (max-width: 359px){
	#menu_inicial a{
		width: 200px;
		font-size: 12px;
		padding-top: 8px;
	}

	#menu_inicial {
		padding-left: 12%;
	}
}

@media only screen and (min-width: 360px) and (max-width: 374px){
	#menu_inicial a{
		width: 200px;
		font-size: 14px;
		padding-top: 10px;
	}

	#menu_inicial {
		padding-left: 15%;
	}
}

@media only screen and (min-width: 375px) and (max-width: 411px){
	#menu_inicial a{
		width: 225px;
		font-size: 16px;
		padding-top: 15px;
	}

	#menu_inicial {
		padding-left: 18%;
	}
}

@media only screen and (min-width: 412px) and (max-width: 459px){
	#menu_inicial a{
		margin: 40px auto;
		width: 300px;
		font-size: 14px;
	}

	#menu_inicial{
		padding-left: 15%;
	}
}

@media only screen and (min-width: 460px) and (max-width: 640px){
	#menu_inicial a{
		width: 380px;
		font-size: 24px;
		padding-top: 10px;
	}

	#menu_inicial {
		padding-left: 10%;
	}
}

@media only screen and (min-width: 641px) and (max-width: 700px){
	#menu_inicial a{
		width: 500px;
	}
}

@media only screen and (min-width: 700px) and (max-width: 768px){
	#menu_inicial a{
		width: 550px;
	}
}