*{
  margin: 0;
  padding: 0;
}

body {
  font-family: "sans-serif", "Arial", "Time news roman";
  background-color: #f7f7f7;
}

.vertical-offset-100{
	padding-top: 250px;
}

input[type="text"]{
	margin-bottom: 1em;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

button{
	margin: 1em 0 1em 0;
}