body {
  font-family: "sans-serif", "Arial", "Time news roman";
  background-color: #fff;
}

.vertical-offset-100{
	padding-top: 150px;
}

input[type="text"]{
	margin-bottom: 1em;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

button{
	margin: 1em 0 1em 0;
}