/*    --------------------------------------------------
  :: Login Section
  -------------------------------------------------- */

/*@media(min-width: 320px ){
	#area_login {
		padding-top: 80px;

		font-size: 18px;
	}

	#area_login h1{
		font-size: 36px;
	}

	#area_login .form-wrap {
		width: 290px;
		margin: 0 auto;
	}

	button{
		font-size: 18px  !important;
	}

	input,
	textarea {
		padding: 8px;
		display: block;
		width: 60%;
	}

	::-webkit-input-placeholder {
		color: #bd716f !important;
		font: 20px verdana, arial, sans-serif !important;
	}

	:-moz-placeholder {
		color: #bd716f !important;
		font: 16px verdana, arial, sans-serif !important;
	}

	a#recuperar_senha{
		font-size: 12px !important;
	}

	#footer {
		font-size: 13px !important;
	}
}

@media(min-width: 360px ){
	#area_login {
		padding-top: 80px;

		font-size: 18px;
	}

	#area_login h1{
		font-size: 36px;
	}

	#area_login .form-wrap {
		width: 300px;
		margin: 0 auto;
	}

	button{
		font-size: 20px  !important;
	}

	input,
	textarea {
		padding: 10px;
		display: block;
		width: 70%;
	}

	::-webkit-input-placeholder {
		color: #bd716f !important;
		font: 18px verdana, arial, sans-serif !important;
	}

	:-moz-placeholder {
		color: #bd716f !important;
		font: 18px verdana, arial, sans-serif !important;
	}

	a#recuperar_senha{
		font-size: 17px !important;
	}

	#footer {
		font-size: 15px !important;
	}
}

@media(min-width: 375px ){
	#area_login {
		padding-top: 80px;

		font-size: 18px;
	}

	#area_login h1{
		font-size: 36px;
	}

	#area_login .form-wrap {
		width: 340px;
		margin: 0 auto;
	}

	button{
		font-size: 25px  !important;
	}

	input,
	textarea {
		padding: 15px;
		display: block;
		width: 80%;
	}

	::-webkit-input-placeholder {
		color: #bd716f !important;
		font: 20px verdana, arial, sans-serif !important;
	}

	:-moz-placeholder {
		color: #bd716f !important;
		font: 20px verdana, arial, sans-serif !important;
	}

	a#recuperar_senha{
		font-size: 16px !important;
	}

	#footer {
		font-size: 17px !important;
	}
}

@media(min-width: 412px ){
	#area_login {
		padding-top: 80px;

		font-size: 18px;
	}

	#area_login h1{
		font-size: 36px;
	}

	#area_login .form-wrap {
		width: 350px;
		margin: 0 auto;
	}

	button{
		font-size: 24px  !important;
	}

	input,
	textarea {
		padding: 12px;
		display: block;
		width: 80%;
	}

	::-webkit-input-placeholder {
		color: #bd716f !important;
		font: 20px verdana, arial, sans-serif !important;
	}

	:-moz-placeholder {
		color: #bd716f !important;
		font: 20px verdana, arial, sans-serif !important;
	}

	a#recuperar_senha{
		font-size: 19px !important;
	}

	#footer {
		font-size: 17px !important;
	}
}

@media(min-width: 768px ){
	#area_login h1{
		font-size: 72px;
		margin-bottom: 50px;
	}

	#area_login .form-wrap {
		width: 700px;
		margin: 0 auto;
	}

	.checkbox{
		margin-bottom: 50px !important;
	}

	.checkbox span{
		font-size: 24px !important;
	}

	#area_login .checkbox .character-checkbox{
		height: 30px !important;
		width: 30px !important;
	}

	button{
		font-size: 40px  !important;
	}

	input,
	textarea {
		padding: 15px;
		display: block;
		height: 80px !important;
	}

	::-webkit-input-placeholder {
		color: #bd716f !important;
		font: 34px verdana, arial, sans-serif !important;
	}

	:-moz-placeholder {
		color: #bd716f !important;
		font: 34px verdana, arial, sans-serif !important;
	}

	a#recuperar_senha{
		font-size: 25px !important;
	}

	#footer {
		font-size: 24px !important;
	}
}

@media(min-width: 900px){
	#area_login {
		padding-top: 50px
	}

	#area_login .form-wrap {
		width: 300px;
		margin: 0 auto;
	}
	#area_login h1 {
		color: #1fa67b;
		font-size: 20px;
		text-align: center;
		font-weight: bold;
		padding-bottom: 20px;
	}

	/*    --------------------------------------------------
		:: Footer
	  -------------------------------------------------- */
	/*#footer {
		color: #6d6d6d;
		font-size: 12px !important; 
		text-align: center;
	}
	#footer p {
		margin-bottom: 0;
	}
	#footer a {
		color: inherit;
	}

	button{
		font-size: 15px  !important;
	}

	input,
	textarea {
		padding: 15px;
		display: block;
		height: 30px !important;
	}

	::-webkit-input-placeholder {
		color: #bd716f !important;
		font: 16px verdana, arial, sans-serif !important;
	}

	:-moz-placeholder {
		color: #bd716f !important;
		font: 16px verdana, arial, sans-serif !important;
	}

	a#recuperar_senha{
		font-size: 13px !important;
		margin-bottom: 200px;
	}
	.checkbox{
		margin-bottom: 10px !important;
	}

	.checkbox span{
		font-size: 13px !important;
	}


	#area_login .checkbox .character-checkbox{
		height: 20px !important;
		width: 20px !important;
	}
}*/

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: "sans-serif", "Arial", "Time news roman";
  background-color: #f7f7f7;
}

a{
	margin-top: 40px;
	height: 50px;
	width: 500px;
	padding-top: 10px;
	font-size : 18px;
}

.panel {
	margin: 15% 30% 15% 30%;
	border: 1px #ccc solid ;
	padding: 10px;
}

.row {
  margin-bottom: 10px;
}

h2{
	text-align: center;
	margin: 80px 0 40px 0;
}

input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

input[type="password"] {
	margin-bottom: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	@include box-sizing(border-box);

	&:focus {
	  z-index: 2;
	}
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

/*    --------------------------------------------------
	:: Footer
  -------------------------------------------------- */
#footer {
	color: #6d6d6d;
	text-align: center;
}

#footer p {
	margin-bottom: 0;
}

#footer a {
	color: inherit;
}
